/*** Fonts ***/

@font-face {
    font-family: 'Ubuntu Regular';
    src: url('Ubuntu-Regular.eot');
    src: local('Ubuntu Regular'), local('Ubuntu-Regular'),
        url('/src/fonts/Ubuntu-Regular.eot?#iefix') format('embedded-opentype'),
        url('/src/fonts/Ubuntu-Regular.woff2') format('woff2'),
        url('/src/fonts/Ubuntu-Regular.woff') format('woff'),
        url('/src/fonts/Ubuntu-Regular.ttf') format('truetype'),
        url('/src/fonts/Ubuntu-Regular.svg#Ubuntu-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Ubuntu Light';
    src: url('Ubuntu-Light.eot');
    src: local('Ubuntu Light'), local('Ubuntu-Light'),
        url('/src/fonts/Ubuntu-Light.eot?#iefix') format('embedded-opentype'),
        url('/src/fonts/Ubuntu-Light.woff2') format('woff2'),
        url('/src/fonts/Ubuntu-Light.woff') format('woff'),
        url('/src/fonts/Ubuntu-Light.ttf') format('truetype'),
        url('/src/fonts/Ubuntu-Light.svg#Ubuntu-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Ubuntu Medium Italic';
    src: url('Ubuntu-MediumItalic.eot');
    src: local('Ubuntu Medium Italic'), local('Ubuntu-MediumItalic'),
        url('/src/fonts/Ubuntu-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('/src/fonts/Ubuntu-MediumItalic.woff2') format('woff2'),
        url('/src/fonts/Ubuntu-MediumItalic.woff') format('woff'),
        url('/src/fonts/Ubuntu-MediumItalic.ttf') format('truetype'),
        url('/src/fonts/Ubuntu-MediumItalic.svg#Ubuntu-MediumItalic') format('svg');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Lemonada';
    src: url('Lemonada-Regular.eot');
    src: local('Lemonada Regular'), local('Lemonada-Regular'),
        url('/src/fonts/Lemonada-Regular.eot?#iefix') format('embedded-opentype'),
        url('/src/fonts/Lemonada-Regular.woff2') format('woff2'),
        url('/src/fonts/Lemonada-Regular.woff') format('woff'),
        url('/src/fonts/Lemonada-Regular.ttf') format('truetype'),
        url('/src/fonts/Lemonada-Regular.svg#Lemonada-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
 
/*** Variables ***/

:root {

    --ff-primary: "Ubuntu Regular", "sans serif";
    --ff-primary-light: "Ubuntu Light", "sans serif";
    --ff-primary-meditalic: "Ubuntu Medium Italic", "sans serif";
    --ff-deco: "Lemonada", "sans serif";

/** Main Color: Blue **/
    --clr-primary: hsl(185,62%,45%);

/** Secondary blues: ordered from dark to lightest **/
    --clr-secondary-1: hsl(184,91%,17%);
    --clr-secondary-2: hsl(185,84%,25%);
    --clr-secondary-3: hsl(185,81%,29%);
    --clr-secondary-4: hsl(184,77%,34%);
    --clr-secondary-5: hsl(185,57%,50%);
    --clr-secondary-6: hsl(184,65%,59%);
    --clr-secondary-7: hsl(184,80%,74%);
    --clr-secondary-8: hsl(185,94%,87%);
    --clr-secondary-9: hsl(186,100%,94%);
    
/** Greys: ordered from dark to lightest**/
    /**For Headings**/
    --clr-grey-1: hsl(209,61%,16%);
    --clr-grey-2: hsl(211,39%,23%);
    --clr-grey-3: hsl(209,34%,30%);
    --clr-grey-4: hsl(209,28%,39%);
    
    /**For Paragraphs**/
    --clr-grey-5: hsl(210,22%,49%);
    --clr-grey-6: hsl(209,23%,60%);
    --clr-grey-7: hsl(211,27%,70%);
    --clr-grey-8: hsl(210,31%,80%);
    --clr-grey-9: hsl(212,33%,89%);
    --clr-grey-10: hsl(212,32%,96%);
    
/** Utility **/
    --clr-white: #fff;
    --transition: all 0.3 linear;
    --spacing: 0.25rem;
    --radius: 0.5rem;
    --light-shadow: 0 5px 15px rgba(0,0,0,0.1);
    --dark-shadow: 0 5px 15px rgba(0,0,0,0.2);
}

/*** global styles ***/
* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
body {
    font-family: var(--ff-primary-light);
    background: var(--clr-white);
    color: var(--clr-grey-1);
    line-height: 1.5;
    font-size: 0.875rem; /*14pt*/
}
a {
    text-decoration: none;
}
img {
    width: 100%;
    display: block;
}
ul {
    list-style-type: none;
}
p {
    margin-bottom: 1.25rem;
    color: var(--clr-grey-5);
}
h1, h1, h3, h4 {
    letter-spacing: var(--spacing);
    text-transform: capitalize;
    line-height: 1.25;
    margin-bottom: 0.75rem;
}
h1 {font-size: 3rem;}
h2 {font-size: 2rem;}
h3 {font-size: 1.25rem;}
h4 {font-size: 0.875rem;}

@media screen and (min-width: 800px) {
    h1, h1, h3, h4 {
        line-height: 1;
    }
    h1 {font-size: 4rem;}
    h2 {font-size: 2.5rem;}
    h3 {font-size: 1.75rem;}
    h4 {font-size: 1rem;}
    body {font-size: 1rem;}
    h1,h2,h3,h4 {line-height: 1;}
}
.btn{
    text-transform: uppercase;
    background: var(--clr-primary);
    color: var(--clr-white);
    padding: 0.375rem 0.75rem;
    letter-spacing: var(--spacing);
    display: inline-block;
    /*font-weight: 700;*/
    font-size: 0.875rem;
    border: 2px solid transparent;
    cursor: pointer; 
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.2); 
            box-shadow: 0 1px 3px rgba(0,0,0,0.2);
    -webkit-transition: var(--transition);
    -o-transition: var(--transition);
    transition: var(--transition); 
}
.btn:hover {
    color: var(--clr-secondary-1);
    background: var(--clr-secondary-8);
}
.img-temp-size-large {max-width: 600px;}

.icon {
    font-family: 'coffee icons';
    font-weight: normal;
    font-style: normal;
}

/** NAVIGATION **/
.navigation {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: var(--clr-white);
    -webkit-box-shadow: var(--dark-shadow);
            box-shadow: var(--dark-shadow);
    z-index: 2;
}
.navigation .navigation-large {
    width: 95vw;
    max-width: 1170px;
    margin: 0 auto;
}
.navigation .logo {
    color: var(--clr-primary);
    font-size: 1rem;
}
.navigation-small {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 1rem 0;
}
.navigation-small button {
    background: transparent;
    color: var(--clr-primary);
    padding: 0;
    margin: 0;
    font-size: 1rem;
    cursor: pointer;
    -webkit-transition: var(--transition);
    -o-transition: var(--transition);
    transition: var(--transition);
}
.navigation-small button:hover {
    -webkit-transform: scale(1.3);
        -ms-transform: scale(1.3);
            transform: scale(1.3);
}
.navigation-links a {
    display: block;
    padding: 1rem 2rem;
    text-transform: capitalize;
    letter-spacing: var(--spacing);
    font-size: 1rem;
    cursor: pointer;
    -webkit-transition: var(--transition);
    -o-transition: var(--transition);
    transition: var(--transition);
    color: var(--clr-grey-1);
}
.navigation-links a:hover {
    color: var(--clr-secondary-1);
    background: var(--clr-secondary-8);
    padding-left: 2.25rem;
}
.navigation-links {
    height: 0;
    overflow: hidden;
}

.show-links {
    height: 280px;
}
.navigation .socials {
    display: none;
}

@media screen and (min-width: 992px) {
    .navigation {
        padding: 1rem 2rem;
    }
    .navigation h3 {
        padding: 0 0;
        margin: 0;
    }
    .navigation-small button {
        display: none;
    }
    .navigation-large {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    }
    .navigation-links {
        height: auto;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    } 
    .navigation-links a {
        padding: 0 0;
        margin-right: 0.7rem;
    }
    .navigation-links a:hover {
        padding: 0;
        color: var(--clr-secondary-5);
        background: transparent;
    }
    .navigation .socials {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
    .navigation .socials a {
        margin-right: 0.7rem;
        color: var(--clr-primary-5);
        font-size: 1.2rem;
        -webkit-transition: var(--transition);
        -o-transition: var(--transition);
        transition: var(--transition);
    }
    .navigation .socials a:hover {
        color: var(--clr-secondary-5);
    }
}

/** HERO SECTION **/
.hero {
    min-height: 100vh;
    background: var(--clr-primary);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.hero a {
    padding: 0.9rem 1.6rem;
    font-size: 1.25rem;
    background: var(--clr-white);
    color: var(--clr-secondary-5);
}
.hero a:hover {
    background: transparent;
    color: var(--clr-white);
    border-color: var(--clr-white);
}
.hero-banner {
    text-align: center;
    color: var(--clr-white);
    padding: 0 3rem;
}
.hero-banner h1 {
    text-transform: uppercase;
}
.hero-banner span {
    font-family: var(--ff-deco);
}
.hero-banner p {
    max-width: 35rem;
    margin: 0 auto 2rem auto;
    color: var(--clr-white);
    letter-spacing: var(--spacing);
}
@media screen and (min-width: 576px) {
    .hero {
        background:
        -webkit-gradient(linear, left top, left bottom, from(rgb(44,174,186,0.7)), to(rgba(0,0,0,0.7))),
        url("/src/images/zanzibar-beach-tunisia.jpg") 
        center/cover no-repeat;
        background:
        -o-linear-gradient(rgb(44,174,186,0.7), rgba(0,0,0,0.7)),
        url("/src/images/zanzibar-beach-tunisia.jpg") 
        center/cover no-repeat;
        background:
        linear-gradient(rgb(44,174,186,0.7), rgba(0,0,0,0.7)),
        url("/src/images/zanzibar-beach-tunisia.jpg") 
        center/cover no-repeat;
    }
    .hero-banner {
        padding: 0; 
    }
    .hero-banner p {
        max-width: 45rem;
    }
}


/** LAYOUT **/
.layout-centered {
    width: 90vw;
    margin: 0 auto;
    max-width: 1170px;
}
.layout-flex-columns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}


/** ABOUT SECTION **/
.about {
    padding: 5rem 0;
}
.about h2 {
    text-align: center;
    margin-bottom: 4rem;
    text-transform: uppercase;
}
.about-img-deco,
.about article {
    margin-bottom: 2rem;
}
@media screen and (min-width: 576px) {
    .layout-centered {
        width: 85vw;
    }
}
@media screen and (min-width: 992px) {
    .layout-centered {
        width: 95vw;
    }
    .about-img-deco,
    .about article {
        -webkit-box-flex: 0;
            -ms-flex: 0 0 calc(50% - 2rem);
                flex: 0 0 calc(50% - 2rem);
        margin-bottom: 0;
        -ms-flex-item-align: center;
            -ms-grid-row-align: center;
            align-self: center;
    }
    .about-img-deco {
        display: block;
        border: 0.5rem solid var(--clr-primary);
    }
    .about-img-deco::before { 
        content: "";
        position: absolute;
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
    }
    .about-img-deco img {
        position: relative;
        top: 1.5rem;
        left: 1.5rem;
    }
}


/** SERVICES SECTION **/
.services {
    background: var(--clr-grey-10);
    padding: 5rem 0;
    text-align: center; 
}
.services article {
    margin: 1rem auto;
}
.services h2 {
    margin-bottom: 4rem;
    text-transform: uppercase;
}
.services span {
    background: var(--clr-secondary-5);
    color: var(--clr-secondary-1);
    font-size: 1.25rem;
    padding: 0.5rem;
    margin-bottom: 1rem;
}
.services p {
    max-width: 20rem;
    margin: 0.75rem auto;
}
@media screen and (min-width: 760px) {
    .services article {
        -webkit-box-flex: 0;
            -ms-flex: 0 0 calc(50% - 1rem);
                flex: 0 0 calc(50% - 1rem);
    }
}
@media screen and (min-width: 992px) {
    .services article {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-flex: 0;
            -ms-flex: 0 0 calc(33.333% - 1rem);
                flex: 0 0 calc(33.333% - 1rem);
        text-align: left;
    }
    .services span {
        -ms-flex-item-align: start;
            -ms-grid-row-align: start;
            align-self: start;
    }
    .services-info {
        padding-left: 1rem;
        margin-top: 0.25rem;
    }
}


/** FEATURED TOURS SECTION **/
.featured {
    padding: 3rem 0;
}
.featured h2 {
    margin: 2.5rem auto;
    text-align: center;
    text-transform: uppercase;
}
.featured article {
    -webkit-transition: var(--transition);
    -o-transition: var(--transition);
    transition: var(--transition);
    background: var(--clr-grey-10);
    -webkit-box-shadow: var(--light-shadow);
            box-shadow: var(--light-shadow);
    margin-bottom: 2rem;
    position: relative;
}
.featured article:hover {
    -webkit-box-shadow: var(--dark-shadow);
            box-shadow: var(--dark-shadow);
    -webkit-transform: scale(1.02);
        -ms-transform: scale(1.02);
            transform: scale(1.02);
}
.card-upper {
    position: relative;
}
.card-upper img {
    height: 15rem;
    -o-object-fit: cover;
       object-fit: cover;
}
.card-upper span {
    position: absolute;
    right: 0;
    bottom: 0;
    background: var(--clr-secondary-6);
    color: var(--clr-secondary-1);
    padding: 0.25rem 0.5rem;
    margin-bottom: 0;
    text-transform: capitalize;
}
.card-lower,
.card-footer {
    padding: 1.25rem 1.5rem;
}
.card-lower h3 {
    height: 3.5rem;
    margin-bottom: 2rem;
}
.card-lower p {
    height: 3.5rem;
}
.card-footer .layout-flex-columns {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.card-footer p {
    line-height: 0;
    margin-bottom: 0;
    text-transform: capitalize;
    color: var(--clr-primary);
    max-height: 1rem;
}
.card-footer span {
    padding-right: 0.5rem;
}
.featured .btn {
    text-align: center;
    margin: 1.5rem auto;
}

@media screen and (min-width: 760px) {
    .featured article {
        -webkit-box-flex: 0;
            -ms-flex: 0 0 calc(50% - 1rem);
                flex: 0 0 calc(50% - 1rem);
    }
}
@media screen and (min-width: 1170px) {

    .featured article {
        -webkit-box-flex: 0;
            -ms-flex: 0 0 calc(33.333% - 1rem);
                flex: 0 0 calc(33.333% - 1rem);
    }
}


/** CONTACT SECTION **/
.newsletter {
    background: var(--clr-primary);
    padding: 2rem 1rem;
}
.newslettter h3 {
    color: var(--clr-white);
}
.newsletter p {
    color: var(--clr-secondary-9);
}
.newsletter-form {
    max-width: 28rem;
    
}
.newsletter-input {
    color: var(--clr-grey-5);
}
.newsletter-input,
.newsletter-submit {
    background: var(--clr-white);
    font-size: 0.75rem;
    font-weight: 300;
    text-transform: capitalize;
    letter-spacing: var(--spacing);
    padding: 0.375rem 0.75rem;
    line-height: 1rem;
    border: transparent;      
}
.newsletter-form:placeholder {
    color: inherit;
}
.newsletter-submit {
    font-family: (--ff-primary);
    margin-left: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    background: var(--clr-secondary-8);
    color: var(--clr-secondary-1);
    cursor: pointer;
    -webkit-transition: var(--transition);
    -o-transition: var(--transition);
    transition: var(--transition);
}

.newsletter-submit:hover {
    background: var(--clr-secondary-1);
    color: var(--clr-secondary-5);
}
@media screen and (min-width: 576px) {
    .newsletter-form {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-item-align: start;
            align-self: flex-start;
        -webkit-box-flex: 1;
            -ms-flex: 1 1 auto;
                flex: 1 1 auto;
    }
}

/** GALLERY SECTION **/
.gallery article {
    position: relative;
    background: var(--clr-primary);
}
.gallery span {
    font-size: 3rem;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    color: var(--clr-white);
    opacity: 0;
    cursor: pointer;
    -webkit-transition: var(--transition);
    -o-transition: var(--transition);
    transition: var(--transition);
}
.gallery img {
    -webkit-transition: var(--transition);
    -o-transition: var(--transition);
    transition: var(--transition);
    -o-object-fit: cover;
       object-fit: cover;
}
.gallery article:hover img {
    opacity: 0.3;
}
.gallery article:hover span {
    opacity: 1;
}
@media screen and (min-width: 576px) {
    .gallery .layout-flex-columns {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-flex: wrap;
            -ms-flex: wrap;
                flex: wrap;
    }
    .gallery article {
        -webkit-box-flex: 0;
            -ms-flex: 0 0 50%;
                flex: 0 0 50%;
    }
}
@media screen and (min-width: 992px) {
    .gallery article {
        -webkit-box-flex: 0;
            -ms-flex: 0 0 25%;
                flex: 0 0 25%;
    }
}
.footer {
    background: var(--clr-grey-1);
    text-align: center;
    margin-bottom: 0;
    padding: 1.5rem 0;
}
.footer .links,
.footer .socials {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: wrap;
        -ms-flex: wrap;
            flex: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 1.5rem;
}
.footer .links a {
    color: var(--clr-white);
}
.footer .links a {
    color: var(--clr-white);
    text-transform: capitalize;
    font-size: 1rem;
    letter-spacing: var(--spacing);
    -webkit-transition: var(--transition);
    -o-transition: var(--transition);
    transition: var(--transition);
    margin-right: 1rem;
}
.footer .socials span {
    font-size: 2rem;
    -webkit-transition: var(--transition);
    -o-transition: var(--transition);
    transition: var(--transition);
    margin-right: 2.5rem;
    color: var(--clr-secondary-7);
}